<!-- <h1>Listing customers</h1> -->
<h1><%= t 'listing_customers.title' %></h1>

 <table align=right>
   <thead>
     <tr>
       <th><%= link_to "English", locale: :en %></th>
       <th><%= link_to "Deutsch", locale: :de %></th>
       <th><%= link_to "Français", locale: :fr %></th>
      <th colspan="3"></th>
    </tr>
   </thead>
 </table>

<table>
  <thead>
    <tr>
      <!-- <th>Name</th>
      <th>Discount</th> -->
      <th align=left><%= t 'listing_customers.table.name' %></th>
      <th><%= t 'listing_customers.table.discount' %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.discount %></td>
        <!-- <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td><%= link_to (t 'listing_customers.links.show'), customer %></td>
         <td><%= link_to (t 'listing_customers.links.edit'), edit_customer_path(customer) %></td>
         <td><%= link_to (t 'listing_customers.links.destroy'), customer,
             method: :delete, data: { confirm: (t 'listing_customers.links.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Customer', new_customer_path %> -->
<%= link_to (t 'listing_customers.new_customer'), new_customer_path %>
